{% extends 'base.html' %}

{% block content %}
<br>
<div class="container" style="margin-bottom: 100px;">
    <h3 class="text-center"> Order Entry </h3>
    <h4> Please enter date received in form DAY/MONTH/YEAR and then 24 hour time. <br> For example: 24/12/2018 13:30 </h4>
    <form method="post">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <span>{{ field.label }}:</span><br>
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                <span class="">{{ field }}</span><br>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}

{% block footer_js %}
<script>
    $("#id_amount_dollars").change(function(){
        var x = parseFloat($("#id_amount_dollars").val()) * 1500;
        $("#id_amount_lebanese").val(x);
    });
    $("#id_amount_lebanese").change(function(){
        var x = parseFloat($("#id_amount_lebanese").val()) / 1500;
        $("#id_amount_dollars").val(x);
    });
</script>
{% endblock %}
