{% extends 'base.html' %}

{% block content %}

<style>

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;

}

</style>

<br>
<div class="container text-center" style="margin-bottom: 100px;">
    <h3 class="text-center"> Driver Checkin </h3><br>
    <form method="post">
        {% csrf_token %}
        <select name="driver" class="form-control" style="width: auto; display:inline;" required>
            <option value=""> Select driver </option>
            {% for driver in drivers %}
            <option value="{{ driver.id }}" {% if driver == selected_driver %} selected {% endif %}> {{ driver }} </option>
            {% endfor %}
        </select><br><br>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

    {% if orders %}
    <br>
    <h4 style="font-weight: bold;"> Total owed by this driver: ${{ total_owed }} </h4>
    <br>
    <div class='text-center'>
        <table style="width: 100%;">
            <tr>
                <th> Order id </th>
                <th> Date received </th>
                <th> Closed date </th>
                <th> Seller </th>
                <th> Amount in dollars </th>
                <th> Amount in lebanese </th>
                <th> Driver </th>
                <th> Zone </th>
                <th> Location </th>
                <th> Financial status </th>
                <th> Actual amount USD</th>
                <th> Actual amount LBP</th>
            </tr>
            {% for order in orders %}
            <tr>
                <th> {{ order.order_id }} </th>
                <th> {{ order.date_received }} </th>
                <th> {{ order.closed }} </th>
                <th> {{ order.seller }} </th>
                <th> {{ order.amount_dollars }} </th>
                <th> {{ order.amount_lebanese }} </th>
                <th> {{ order.driver }} </th>
                <th> {{ order.zone }} </th>
                <form method="post" id="update">
                    {% csrf_token %}
                <th>
                    <select name="location" class="form-control" style="width: auto;" id="location{{ forloop.counter }}">
                        {% for location in locations %}
                        <option {% if location == order.location %} selected {% endif %} value="{{ location.id }}"> {{ location }} </option>
                        {% endfor %}
                    </select>
                </th>
                <th> {{ order.financial_status }} </th>
                <th> <input type="text" name="actual_dollars" class="form-control" value="{% if order.actual_usd %}{{ order.actual_usd }}{% else %}{{ order.amount_dollars }}{% endif %}" id="actual_dollars{{ forloop.counter }}"> </th>
                <th> <input type="text" name="actual_lebanese" class="form-control" value="{% if order.actual_lebanese %}{{ order.actual_lebanese }}{% else %}{{ order.amount_lebanese }}{% endif %}" id="actual_lebanese{{ forloop.counter }}"> </th>
                    <input type="hidden" name="order_id" value="{{ order.id }}" id="order_id{{ forloop.counter  }}">
                <th> <button class="btn btn-primary" id="{{ forloop.counter }}" onclick="update({{ forloop.counter }});"> Save </button> </th>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block footer_js %}

<script>
function update(id){
    event.preventDefault();
    $.post("/order/update",
    {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        location: $("#location"+id).val(),
        actual_dollars: $("#actual_dollars"+id).val(),
        actual_lebanese: $("#actual_lebanese"+id).val(),
        order_id: $("#order_id"+id).val(),
    });
    $("#"+id).css("background-color", "green");
    $("#"+id).text("Saved");
}

</script>

{% endblock %}
